name: Commit a version change (Internal workflow)
on:
  workflow_call:
    secrets:
      APP_ID:
        required: true
      APP_PRIVATE_KEY:
        required: true
    inputs:
      version-type:
        description: "The version type to increment by"
        type: string
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  check-version:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      VERSION_TYPE: ${{ inputs.version-type }}
    outputs:
      release_doc_path: ${{ steps.release_document_path.outputs.path }}
      should_change_version: ${{ steps.release_document_path.outputs.should_change_version }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Install alex-c-line
        run: |
          npm install -g alex-c-line@latest
          alex-c-line --version

      - name: Get the current version number
        id: get_current_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Get next version
        env:
          VERSION: ${{ steps.get_current_version.outputs.version }}
          VERSION_TYPE: ${{ env.VERSION_TYPE }}
        id: get_next_version
        run: |
          NEXT_VERSION=$(alex-c-line increment-version $VERSION $VERSION_TYPE)
          echo "next_version=$NEXT_VERSION" >> $GITHUB_OUTPUT

          MAJOR_VERSION=$(alex-c-line get-major-version $NEXT_VERSION)
          echo "major_version=$MAJOR_VERSION" >> $GITHUB_OUTPUT

          MINOR_VERSION=$(alex-c-line get-minor-version $NEXT_VERSION)
          echo "minor_version=$MINOR_VERSION" >> $GITHUB_OUTPUT

      - name: Find release document
        env:
          NEXT_VERSION: ${{ steps.get_next_version.outputs.next_version }}
          MAJOR_VERSION: ${{ steps.get_next_version.outputs.major_version }}
          MINOR_VERSION: ${{ steps.get_next_version.outputs.minor_version }}
          VERSION_TYPE: ${{ inputs.version-type }}
        id: release_document_path
        run: |
          RELEASE_DOC_PATH="docs/releases/$MAJOR_VERSION/$MINOR_VERSION/$NEXT_VERSION.md"
          if cat "$RELEASE_DOC_PATH" >/dev/null 2>&1; then
            echo "Release document found. Continuing..."
            echo "path=$RELEASE_DOC_PATH" >> $GITHUB_OUTPUT
            echo "should_change_version=true" >> $GITHUB_OUTPUT
          else
            echo "No release document found. Skipping..."
            echo "should_change_version=false" >> $GITHUB_OUTPUT
          fi

  commit-version-change:
    runs-on: ubuntu-latest
    needs: check-version
    if: ${{ needs.check-version.outputs.should_change_version == 'true' }}
    env:
      HUSKY: 0
      VERSION_TYPE: ${{ inputs.version-type }}
      RELEASE_DOC_PATH: ${{ needs.check-version.outputs.release_doc_path }}
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup GitHub user
        run: |
          git config --global user.name "alex-up-bot"
          git config --global user.email "alexupbot@bot.com"

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Change version
        env:
          VERSION_TYPE: ${{ env.VERSION_TYPE }}
        run: npm version $VERSION_TYPE --no-git-tag-version

      - name: Get the new version number
        id: get_new_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install alex-c-line
        run: npm install -g alex-c-line@latest

      - name: Change the status in the release document
        env:
          RELEASE_DOC_PATH: ${{ env.RELEASE_DOC_PATH }}
        run: alex-c-line set-release-status-2 "$RELEASE_DOC_PATH"

      - name: Get alex-up-bot GitHub token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          author: alex-up-bot <alexupbot@bot.com>
          committer: alex-up-bot <alexupbot@bot.com>
          branch: alex-up-bot/change-${{ env.VERSION_TYPE }}-version
          base: main
          commit-message: "Change version number to ${{ steps.get_new_version.outputs.version }}"
          title: "Change version number to ${{ steps.get_new_version.outputs.version }}"
          maintainer-can-modify: false
          body-path: ${{ env.RELEASE_DOC_PATH }}
