name: Commit a version change
on:
  push:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:
    inputs:
      create-feature-docs:
        description: "Whether to generate the documentation for the features using `pnpm run create-feature-docs` or not"
        required: false
        default: false
        type: boolean
    secrets:
      APP_ID:
        required: true
      APP_PRIVATE_KEY:
        required: true

jobs:
  check-major-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: major
      create-feature-docs: ${{ github.repository == 'alextheman231/github-actions' && false || inputs.create-feature-docs }}
    secrets:
      APP_ID: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_APP_ID || secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_PRIVATE_KEY || secrets.APP_PRIVATE_KEY }}

  check-minor-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: minor
      create-feature-docs: ${{ github.repository == 'alextheman231/github-actions' && false || inputs.create-feature-docs }}
    secrets:
      APP_ID: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_APP_ID || secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_PRIVATE_KEY || secrets.APP_PRIVATE_KEY }}

  check-patch-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: patch
      create-feature-docs: ${{ github.repository == 'alextheman231/github-actions' && false || inputs.create-feature-docs }}
    secrets:
      APP_ID: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_APP_ID || secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_PRIVATE_KEY || secrets.APP_PRIVATE_KEY }}
