name: Publish to NPM Registry

permissions:
  id-token: write

on:
  workflow_call:
    outputs:
      did_publish:
        description: "True if a publish occurred"
        value: ${{ jobs.check-version.outputs.should_publish }}

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      should_publish: ${{ steps.check_version.outputs.should_publish }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Fetch from main
        run: git fetch --unshallow origin main

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Use latest NPM version
        run: |
          npm install -g npm@latest
          npm --version

      - name: Get package data from package.json
        id: get_package_data
        run: |
          NAME=$(jq -r '.name' package.json)
          echo "name=$NAME" >> $GITHUB_OUTPUT

          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check if version already exists
        id: check_version
        env:
          NAME: ${{ steps.get_package_data.outputs.name }}
          VERSION: ${{ steps.get_package_data.outputs.version }}
        run: |
          if npm view "$NAME@$VERSION" version >/dev/null 2>&1; then
            echo "Version $VERSION already exists, skipping publish..."
            echo "should_publish=false" >> $GITHUB_OUTPUT
          else
            echo "Publishing $VERSION..."
            echo "should_publish=true" >> $GITHUB_OUTPUT
          fi

  publish:
    runs-on: ubuntu-latest
    needs: check-version
    if: needs.check-version.outputs.should_publish == 'true'
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - name: Use latest NPM version
        run: |
          npm install -g npm@latest
          npm --version

      - name: Install dependencies
        run: pnpm install

      - name: Build package
        run: pnpm run build

      - name: Publish to NPM
        run: pnpm publish --access public
