name: Self CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  self-ci:
    uses: ./.github/workflows/_self-ci.yml
