name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: 0 21 * * 5
  workflow_call:
    secrets:
      APP_ID:
        required: true
      APP_PRIVATE_KEY:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check for Terraform files
        id: check-terraform
        shell: bash
        run: |
          shopt -s globstar nullglob
          files=( **/*.tf )
          if (( ${#files[@]} > 0 )); then
            echo "has_terraform=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_terraform=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Setup Terraform
        if: ${{ steps.check-terraform.outputs.has_terraform == 'true' }}
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.14.3

      - name: Enable Corepack
        run: |
          corepack enable
          corepack --version

      - name: Mint GitHub App token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_APP_ID || secrets.APP_ID }}
          private-key: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_PRIVATE_KEY || secrets.APP_PRIVATE_KEY }}

      - name: Setup GitHub user
        run: |
          git config --global user.name "alex-up-bot"
          git config --global user.email "alexupbot@bot.com"

      - name: Install dependencies
        run: pnpm install

      - name: Install actions-up and alex-c-line
        run: |
          npm install -g actions-up@latest alex-c-line@latest
          actions-up --version
          alex-c-line --version

      - name: Update pull request templates
        run: alex-c-line create-pull-request-templates

      - name: Commit template changes
        uses: alextheman231/github-actions/.github/actions/commit-changes@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0
        id: commit_pull_request_template_changes
        with:
          message: "Update pull request templates"

      - name: Update PNPM
        run: corepack use pnpm@latest

      - name: Commit PNPM update
        uses: alextheman231/github-actions/.github/actions/commit-changes@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0
        id: commit_pnpm_update
        with:
          message: "Update PNPM"

      - name: Update JavaScript dependencies
        run: |
          pnpm run update-dependencies
          pnpm install --no-frozen-lockfile

      - name: Commit JavaScript dependencies updates
        uses: alextheman231/github-actions/.github/actions/commit-changes@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0
        id: commit_javascript_dependencies_updates
        with:
          message: "Update JavaScript dependencies"

      - name: Update GitHub Actions
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: actions-up -y

      - name: Commit GitHub Actions updates
        uses: alextheman231/github-actions/.github/actions/commit-changes@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0
        id: commit_actions_updates
        with:
          message: "Update GitHub Actions"

      - name: Update Terraform Providers
        if: ${{ steps.check-terraform.outputs.has_terraform == 'true' }}
        run: terraform init -upgrade -backend=false

      - name: Commit Terraform updates
        if: ${{ steps.check-terraform.outputs.has_terraform == 'true' }}
        uses: alextheman231/github-actions/.github/actions/commit-changes@f00ea95a57c8d8e9810149d2b5c5dca1af7d8058 # v6.0.0
        id: commit_terraform_updates
        with:
          message: "Update Terraform Providers"

      - name: Choose pull request template
        id: pull_request_template
        env:
          TEMPLATES_CHANGED: ${{ steps.commit_pull_request_template_changes.outputs.changes_detected }}
          PNPM_CHANGED: ${{ steps.commit_pnpm_update.outputs.changes_detected }}
          JS_CHANGED: ${{ steps.commit_javascript_dependencies_updates.outputs.changes_detected }}
          ACTIONS_CHANGED: ${{ steps.commit_actions_updates.outputs.changes_detected }}
          TERRAFORM_CHANGED: ${{ steps.commit_terraform_updates.outputs.changes_detected }}
        run: |
          if [ "$TEMPLATES_CHANGED" = "true" ] && \
            [ "$PNPM_CHANGED" = "false" ] && \
            [ "$JS_CHANGED" = "false" ] && \
            [ "$ACTIONS_CHANGED" = "false" ] && \
            [ "$TERRAFORM_CHANGED" = "false" ]; then
            echo "Template: documentation_change"
            echo "body_path=.github/PULL_REQUEST_TEMPLATE/documentation_change.md" >> "$GITHUB_OUTPUT"
          else
            echo "Template: tooling_change"
            echo "body_path=.github/PULL_REQUEST_TEMPLATE/tooling_change.md" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: alex-up-bot/update-dependencies
          base: main
          title: "Update dependencies"
          body-path: ${{ steps.pull_request_template.outputs.body_path }}
